body {
    .merriweather-light {
        font-family: "Merriweather", serif;
        font-weight: 300;
        font-style: normal;
    }

    .merriweather-regular {
        font-family: "Merriweather", serif;
        font-weight: 400;
        font-style: normal;
    }

    .merriweather-bold {
        font-family: "Merriweather", serif;
        font-weight: 700;
        font-style: normal;
    }

    .merriweather-black {
        font-family: "Merriweather", serif;
        font-weight: 900;
        font-style: normal;
    }

    .merriweather-light-italic {
        font-family: "Merriweather", serif;
        font-weight: 300;
        font-style: italic;
    }

    .merriweather-regular-italic {
        font-family: "Merriweather", serif;
        font-weight: 400;
        font-style: italic;
    }

    .merriweather-bold-italic {
        font-family: "Merriweather", serif;
        font-weight: 700;
        font-style: italic;
    }

    .merriweather-black-italic {
        font-family: "Merriweather", serif;
        font-weight: 900;
        font-style: italic;
    }

}

.header {
    background-image: url('../images/Banner\ Image.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    border-radius: 16px;
    background: rgb(7, 2, 17), rgba(7, 2, 17, 0) 100%;
    color: white;
    margin: 30px 60px 40px 60px;
    max-width: 1320px;
    max-height: 600px;
    align-items: center;

}

.banner {
    padding: 100px 200px 200px 200px;
    text-align: center;
}

#top {
    color: rgb(255, 255, 255);
    font-size: 72px;
    font-weight: 900;
    text-align: center;
}

#top-1 {
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 400;
    text-align: center;
}

.offer {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 70px;
    font-weight: 600;
    line-height: 107px;
    text-align: center;
}

.offer-description {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: center;
}

.offer-categories {
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0%;
    text-align: center;
}

.offer-photo {
    margin-left: 300px;
    justify-content: center;
}

.party {
    display: flex;
    background-image: url('../images/Vectorrr.png');
    background-repeat: no-repeat;
    gap: 50px;
    margin-left: 70px;
    margin-top: 150px;
}

.welcome-gretings {
    color: rgb(255, 255, 255);
    font-size: 64px;
    font-weight: 900;
    text-align: left;

}

.welcome-description {
    color: rgba(255, 255, 255, 0.8);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
}

#btn {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
}

.welcome {
    max-width: 800px;
    margin: 100px 0 0 100px;
}

.party-img {
    margin: 60px 100px 60px 0;
}

.color {
    color: rgb(255, 0, 0);
}

.place {
    border-radius: 16px;

    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1), rgba(255, 0, 0, 0) 100%);
    margin: 70px 110px 70px 70px;
}

.place-description {
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;

    text-align: center;
    padding-top: 50px;
}

#button {
    border-radius: 8px;

    background: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
}

.gift-item {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    text-align: left;
}

.gift-portfolio {
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
}

.gift-description {
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: left;
    max-width: 800px;
}

.gift {
    margin-left: 70px;
}

.item {
    display: flex;
    border-radius: 16px;
    gap: 20px;
    padding: 10px;
    margin: 0px 70px 0px 70px;

}

.mail-pic {
    position: relative;
    width: 150px;
    height: 150px;
    margin-top: 100PX;
    margin-left: 600PX;
}

.subscribe {
    margin: 30PX 90PX 30PX 70PX;
    border-radius: 16px;

    background: rgba(255, 0, 0, 0.05);
    padding-bottom: 50px;
}
.heading-description{
    color: rgba(7, 2, 17, 0.6);
font-size: 20px;
font-weight: 400;
max-width: 700px;
margin-left: 350px;
text-align: center;


}
.heading{
    color: rgb(7, 2, 17);
font-size: 48px;
font-weight: 900;
line-height: 60px;
text-align: center;
}
.input{
    border-radius: 50px 0px 0px 50px;

background: rgb(255, 255, 255);
width: 300px;
height: 50px;
border: 0px;
padding-left: 20px;

}
.inp{
    width: 100px;
height: 55px;

    border-radius: 0px 50px 50px 0px;

background: rgb(255, 0, 0);
border: 0px;
}
.sub-input{
    
    gap: 0;
    margin-left: 450px;
}
.foot{
    display: flex;
    align-items: start;
    justify-content: space-around;
   
}
.footer-text{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 24px;
font-weight: 500;
line-height: 40px;
letter-spacing: 0%;
text-align: left;
max-width: 400px;
}
footer{
    background: rgb(7, 2, 17);

    
}
.logo{
    padding: 20px;
    margin-left: 600px;
}